@use "../../../variables.scss" as *;

.compContainer {
    width: 100%;
    background-color: $blue;
}

.listGroup {
    list-style-type: none;

    a {
        color: #49A8E5;
        text-decoration: none;

        &:hover {
            color: $blue-link;
        }
    }



}

.icon {
    color: $blue-info;
}

.copyright {
    font-size: .85rem;
    background-color: $blue-3;

    a {
        color: #49A8E5;
        text-decoration: none;
    }
}

.address {
    color: rgba(255, 255, 255, 0.5);
}