@use "../../../styles/variables.scss" as *;

.compContainer{
    width: 100%;
    background-color: $blue;
}

.listGroup{
    list-style-type: none;
    a{
        color: $blue-link;
        text-decoration: none;
    }
    
}

.icon{
    color: $blue-info;
}

.copyright{
    font-size: .85rem;
    background-color: $blue-3;
    a{
        color: $blue-link;
        text-decoration: none;
    }
}