@use "../../../variables.scss" as *;
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


.compContainer {
    background-color: $blue;
    width: 100%;


}

.navLink {
    font-size: $font-size-base - .1rem !important;
    font-weight: $font-weight-bold;

    :global(.nav-link) {
        color: white !important;
    }
}

.logo {
    width: 100%;
    max-width: 200px !important;

    @include media-breakpoint-up(sm) {
        width: 100%;
        max-width: 250px !important;
    }

    @include media-breakpoint-up(lg) {
        width: 150px;
    }
}