.compContainer{
    background-color: lightgrey;
    margin: 1rem;
    border-radius: .3rem;
    border: 1px solid grey;
    width: 500px;
}

.count{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}