//Bootstrap Theme Colors
$dark: #1B1B1B;
$dark-2: #373A3C;
$dark-3: #55595C;
$grey: #777777;
$grey-2: #818A91;
$grey-3: #DDDDDD;
$grey-4: #ECEEEF;
$green-success: #5CB85C;
$yellow-warning: #F0AD4E;
$red-danger: #D9534F;

//Seven Corners Brand
$blue: #004674;
$blue-2: #003353;
$blue-3: #001E33;
$orange: #F5852B;
$blue-info: #4baab3;
$blue-link: #a9d5ea;

//JSX Exports
:export {
    orange: $orange;
}