@use "../../../variables.scss" as *;

.compContainer {
    background-color: $blue;
    width: 100%;


}

.navLink {
    color: white !important;

    :global(.nav-link) {
        color: white !important;
    }
}