@use '../../../variables.scss' as *;

.stickyContainer {
    width: 200px;
    background-color: $dark !important;
    height: calc(100vh - 50px);
}

.compContainer {
    height: calc(100vh - 50px);
    color: white;
    background-color: $dark !important;
    z-index: 2;

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: $grey;
        }
    }
}